/* 

rgb(12, 171, 168)
rgb(191, 36, 78)
rgb(45, 75, 115)

clip-path: polygon(0% 100%, 100% 50%, 0% 0%, 12% 42%, 50% 50%, 12% 58%);
width: 71px;
color: white;

*/

:root {
    --common-color: #ffffff;
    --common-color-2: #ffffff;
    --logo-font-color: #08c391;
    --primary-font-color: #08c391;
    --primary-bg-1: #212830;
    --primary-bg-2: #171c23;
    --read-more-viewer-bg: 33, 39, 47;
    --highlight-color: 255, 215, 0;

    --readMoreViewer-bg-1: 44, 48, 58;
    --readMoreViewer-bg-2: 30, 31, 38;
    --readMoreViewer-bg-3: 68, 72, 87;
    --readMoreViewer-bg-shadow: 0, 0, 0;
    --active-theme: "none";
}

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none; */
}

a{
    text-decoration: none;
    color: rgba(var(--common-color), 100%);
}

.copy-link {
    cursor: copy;
}

.disableLink{
    cursor: not-allowed;
    opacity: 0.5;
}

.highlight{
    color: rgba(var(--highlight-color), 100%);
    padding: 0px 7px 0px 8px;
}

/* Here style for navigator */
.navigator{
    position: absolute;
}

/* Here some somman elements */

.container{
    transition: all 0.5s;
    padding: 0px 10% 1px 10%;
}

.primary{
    color: rgba(var(--primary-font-color), 255);
}

.imp{
    background-color: rgba(var(--primary-font-color), 255);
    padding: 3px 11px;
    border-radius: 4px;
    display: inline-block;
    color: rgba(var(--common-color-2), 100%);
}

.mb-5{
    margin-bottom: 5px;
}

.mb-6{
    margin-bottom: 6px;
}

.mb-7{
    margin-bottom: 7px;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-9{
    margin-bottom: 9px;
}

.mb-10{
    margin-bottom: 10px;
}

.button {
    font-weight: 500;
    position: relative;
    background-color: rgba(var(--primary-font-color), 255);
    color: rgba(var(--common-color), 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
}

.button::before {
    content: "";
    position: absolute;
    background-color: rgba(var(--common-color), 100%);
    width: 110%;
    height: 450%;
    border-radius: 0%;
    transform: translate(-100%, 50%);
    transition: all 0.5s;
    border-radius: 100%;
    z-index: -1;
}

.button:hover::before {
    transition: all 0.5s;
    transform: translate(0%, 0%);

}

.button:hover {
    color: rgba(var(--primary-bg-1), 100%);
    transition: all 0.5s;
    box-shadow: 10px 10px 32px rgba(var(--primary-font-color), 255);
}

main{
    overflow: hidden;
}

/* common style for image carsoule percent is based */

.imageCarouselLeftRightButtons {
    position: absolute;
    width: -webkit-fill-available;
    height: 100%;
    display: flex;
    /* gap: 30%; */
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.imageCarouselLeftButtonContainer {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: start;
}

.imageCarouselLeftButtonContainer:hover .imageCarouselLeftButton {
    transition: all 0.5s;
    opacity: 1;
}

.imageCarouselRightButtonConatiner {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: end;
}

.imageCarouselRightButtonConatiner:hover .imageCarouselRightButton {
    transition: all 0.5s;
    opacity: 1;
}

.imageCarouselLeftButton,
.imageCarouselRightButton {
    opacity: 0;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: rgba(var(--primary-font-color), 30%);
}

.imageCarouselLeftButton {
    margin-left: 5%;
}

.imageCarouselRightButton {
    margin-right: 5%;
}

/* introduction style start from here */

/* here style for loader start's */

.loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    z-index: 3;
}

.loader .progressBar{
    opacity: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(var(--primary-font-color), 100%);
    /* background-color: linear-gradient(90deg, #08c391 94%, #08c39100 100%); */
    position: relative;
    transition: all 1s;
}

.loader .progressBarActive{
    opacity: 1;
    /* animation */
    --loader-animation-duration: 5s;
    animation-name: progressBarActive;
    animation-duration: var(--loader-animation-duration);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

/* Here key Frame For animation */

@keyframes progressBarActive {

    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }

}

/* Here key Frame For animation */

.loader .animationCompleted{
    animation-name: progressCompleted;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

/* Here key frame progressCompleted start's */
@keyframes progressCompleted {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
        width: 100%;
    }
    100%{
        opacity: 0;
        width: 100%;
    }
}

/* Here key frame animationComplete end's */

.loader .progressBar .progressBarDot{
    position: absolute;
    width: 0px;
    height: 5px;
    right: 0;
    top: 0;
    box-shadow: 0px 0px 26px 18px rgba(var(--primary-font-color), 100%);
}

.loader .progressBarActive .progressBarDot{
    /* animation */
    animation-name: progressBarDotBlink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: var(--loader-animation-duration);
    animation-direction: alternate;
}

/* Here key frame for progressBarDotBlink start's */

@keyframes progressBarDotBlink {
    0%{
        box-shadow: 0px 0px 26px 0px rgba(var(--primary-font-color), 100%);
    }
    100%{
        box-shadow: 0px 0px 26px 18px rgba(var(--primary-font-color), 100%);
    }
}

/* Here key frame for progressBarDotBlink end's */

.loader .progressBarActive .shaderContainer{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.loader .progressBarActive .shader{
    /* left: -20%; */
    top: 0%;
    width: 20%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(var(--common-color-2), 100%), transparent);
    position: absolute;

    /* animation */
    animation-name: progressBarActiveShader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    /* animation-direction: alternate; */
}

@keyframes progressBarActiveShader {

    0% {
        left: -20%;
    }

    100% {
        left: 120%;
    }

}

/* here style for loader end's */

/* (floating-menu) here style of floating menu start's */

.floating-menu{
    top: 117px;
    right: -7px;
    width: 41px;
    height: 39px;
    border-radius: 8px;
    backdrop-filter: blur(11px);
    border: 1px solid rgba(var(--common-color), 23%);
    position: fixed;
    /* background-color: rgb(40 42 55 / 49%); */
    background-color: rgba(var(--primary-bg-1), 49%);
    /* box-shadow: 14px 9px 53px 3px rgb(0 0 0 / 29%); */
    box-shadow: 14px 9px 53px 3px rgba(var(--primary-bg-2), 49%);
    z-index: 3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    --float-menu-active-height: 419px;
    --float-menu-right-space: 36px;
    --animation-duration: 0.5s;
    animation-name: menu-inactive;
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

@keyframes  menu-inactive {
    0% {
        right: var(--float-menu-right-space);
        width: 61px;
        height: var(--float-menu-active-height);
    }
    75% {
        right: var(--float-menu-right-space);
        width: 61px;
        height: 39px;
    }
    100% {
        right: -7px;
        width: 41px;
        height: 39px;
    }
}

.floating-menu-active{
    animation-name: menu-active;
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

@keyframes menu-active {
    0%{
        right: -7px;
        width: 41px;
        height: 39px;
    }
    25%{
        right: var(--float-menu-right-space);
        width: 61px;
        height: 39px;
    }
    100%{
        right: var(--float-menu-right-space);
        width: 61px;
        height: var(--float-menu-active-height);
    }
}

.floating-menu .floating-menu-close-button i:nth-child(2) {
    animation-name: icon-show;
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

.floating-menu-active .floating-menu-close-button i:nth-child(2) {
    animation-name: icon-hide;
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

.floating-menu .floating-menu-close-button i:nth-child(1) {
    animation-name: icon-hide;
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

.floating-menu-active .floating-menu-close-button i:nth-child(1){
    animation-name: icon-show;
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

@keyframes icon-show {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes icon-hide {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.floating-menu-header{
    font-size: 1.2rem;
    color: rgba(var(--common-color), 44%);
    background-color: rgba(var(--primary-bg-2), 100%);
    cursor: pointer;
    width: 100%;
    
}

.floating-menu-close-button{
    text-align: center;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.floating-menu-close-button i{
    position: absolute;
}

.floating-menu-body {
    width: 100%;
    margin-top: 12px;
}

.floating-menu .gap{
    height: 1px;
    background-color: rgba(var(--common-color), 39%);
    margin: 19px 9px;
    width: -webkit-fill-available;
}

.floating-menu-button{
    color: rgba(var(--common-color), 100%);
    width: 100%;
    height: 48px;   
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.3rem;
    cursor: pointer;
}

.fmb-active{
    color: rgba(var(--primary-font-color), 100%);
}

.fmb-active::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 63%;
    width: 3px;
    background-color: rgba(var(--primary-font-color), 100%);
    border-radius: 4px;
    box-shadow: 1px 0px 15px 2px rgba(var(--primary-font-color), 100%);
}

.floating-menu-link{
    color: rgba(var(--common-color), 100%);
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.3rem;
    cursor: pointer;
}

.floating-menu-footer{
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.floating-menu-footer img{
    width: 30px;
    object-fit: contain;
    height: 30px;
    border-radius: 100%;
    border: 1px solid rgba(var(--common-color), 39%);
}
/* here style of floating menu end's */

/* here style sheet start's for notifications */

.notifications{
    position: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    right: 19px;
    bottom: 16px;
    width: 368px;
    z-index: 4;
    height: 116px;
}

.notifyContainer {
    -webkit-clip-path: inset(0 0 0 0 round 16px 16px 16px 16px);
    clip-path: inset(0 0 0 0 round 16px 16px 16px 16px);
    position: absolute;
    width: 100%;
    backdrop-filter: saturate(130%) blur(20px);
    height: 116px;

    /* Animation */
    --notificationScale: 1;
    --notificationCloseAnimationDuration: 2s;
    animation-name: notificationCloseAnimation;
    animation-duration: var(--notificationCloseAnimationDuration);
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

/* here key frames for notification close start's*/

@keyframes notificationCloseAnimation {
    0% {
        top: 0%;
        left: 0%;
        opacity: 0.4;
        transform: scale(0.5);
    }

    15% {
        top: 0%;
        left: 0%;
        opacity: 1;
        transform: scale(var(--notificationScale));
    }

    100% {
        top: -100%;
        left: 0%;
        opacity: 0;
        transform: scale(var(--notificationScale));
    }
}

/* here key frames for notification close end's*/

.notification {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 16px;
    border-radius: 16px;
    background-color: rgba(var(--primary-bg-2), 22%);
    color: rgba(var(--common-color), 100%);
    /* backdrop-filter: saturate(130%) blur(20px); */
    border: 1px solid rgba(var(--common-color), 16%);
}


.notification header,
.notification .more {
    opacity: 0.75;
}

.notification header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    font-size: 12px;
}

.notification header .ntitle {
    text-transform: uppercase;
    font-style: normal;
    font-stretch: 100%;
    font-size: 12px;
}

.notification header .timestamp {
    text-transform: lowercase;
}

.notification .content span {
    display: block;
    line-height: 1.4;
}

.notification .content .nmessage {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification .content .sender,
.notification .content .event {
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.notification .content .more {
    margin-top: 4px;
    font-size: 12px;
}

/* here style sheet end's for notifications */

#introduction{
    overflow: hidden;
    background-color: rgba(var(--primary-bg-1), 100%);
    color: rgba(var(--common-color), 100%);
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0px;
}

.logo{
    font-size: 1.6rem;
    font-weight: bold;
    color: rgba(var(--logo-font-color), 100%);
    display: flex;
    gap: 8px;
    align-items: center;
}

.menu .options{
    display: flex;
    gap: 60px;
    font-weight: 500;
}

/* this menu style will be used mobile phones or tabs or anything small size 😊 */

.logo img{
    display: none;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.mobile-menu {
    display: none;
    position: relative;
}

.mobile-menu-button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    /* background-color: rgba(var(--primary-bg-2), 50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(var(--common-color), 100%);
    z-index: 1;
    position: relative;
}

.mobile-menu-optins{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0%;
    top: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 2;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.54, 0.27, 0.74, 1.08) 0s;
}

.mobile-menu-optins-active{
    top: 0%;
    opacity: 1;
}

.mobile-menu-optins-close-btn{
    width: 40px;
    height: 40px;
    background-color: rgba(var(--primary-font-color), 40%);
    border-radius: 100%;
    font-size: 1.2rem;
    position: absolute;
    top: 3%;
    right: 4%;
    color: rgba(var(--common-color), 100%);
}

.mobile-menu-optins-head{
    margin-bottom: 27px;
    color: rgba(var(--primary-font-color), 100%);
}

.mobile-menu-optins-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    gap: 15px;
}

.mobile-menu-optins-footer{
    color: rgba(var(--common-color-2), 100%);
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    --footer-background: rgba(var(--primary-font-color), 100%);
    /* padding: 16px; */
}

.mobile-menu-button:hover{

}

/* mobile menu style ends here */

.intro{
    display: flex;
    gap: 30px;
    padding: 109px 0px;
}

.intro-start{
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.author-name{
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.author-name span{
    display: inline-block;
    transition: 1s ease-out;
}

.author-name span:hover{
    transition: 0.05s ease-in;
    transform: scale(1.2, 1.2);
    text-shadow: 0px 0px 32px rgba(var(--primary-font-color), 255);
}

.designation{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 33px;
}

.description{
    margin-bottom: 45px;
}

#author-image{
    width: 411px;
    /* -webkit-filter: drop-shadow(-4px 27px 24px rgba(var(--primary-font-color), 255)); */
    /* filter: drop-shadow(-4px 27px 24px rgba(var(--primary-font-color), 255)); */

    /* Animation */
    --authorImageAnimation: 1s;
    animation-name: authorImageAnimation;
    animation-duration: var(--authorImageAnimation);
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;

}

@keyframes authorImageAnimation {
    0%{
        -webkit-filter: drop-shadow(-4px 27px 24px rgba(var(--primary-font-color), 255));
        filter: drop-shadow(-4px 27px 50px rgba(var(--primary-font-color), 255));
    }
    100%{
        -webkit-filter: drop-shadow(-4px 27px 24px rgba(var(--primary-font-color), 255));
        filter: drop-shadow(-4px 27px 24px rgba(var(--primary-font-color), 255));
    }
}

.lets-talk-button{
    /* background-color: rgba(var(--primary-font-color), 255); */
    width: 154px;
    height: 58px;
    border-radius: 12px;
    margin-bottom: 70px;
    color: rgba(var(--common-color-2), 100%);
}

.social-media{
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-media p{
    margin-left: 7px;
    font-size: 1.1rem;
}

#social{
    display: flex;
    gap: 20px;
}

#social a{
    font-size: 2.5rem;
    color: rgba(var(--primary-font-color), 255);
    transition: all 0.2s ease-in-out;
}

#social a:hover{
    transform: scale(1.2, 1.2);
}


/* Skill Section Style Start From Here */

.skills{
    background-color: rgba(var(--primary-bg-2), 100%);
    padding-bottom: 76px;
}

.skills-heading {
    color: rgba(var(--common-color), 100%);
    padding: 105px 0px 0px 0px;
    text-align: center;
}

.skills-heading h1 {
    font-size: 3rem;
    padding-bottom: 8px;
}

.skills-heading p {
    max-width: 60%;
    padding-bottom: 8px;
    margin: auto;
}

.skillsContainer{
    position: relative;
    margin: 0px 0px 63px 0px;
    /* display: flex;
    justify-content: center;
    gap: 45px; */
}

.skillContainerButtons{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.skillsRightButton, .skillsLeftButton{
    width: 30px;
    height: 30px;
    font-size: 1rem;
    border-radius: 100%;
    color: rgba(var(--common-color-2), 100%);
}

.skillCardsContainer{
    overflow: hidden;
}

.skillCard {
    height: 140px;
    width: 140px;
    position: relative;
    background: rgba(var(--primary-bg-2), 100%);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(var(--common-color), 37%);
    transition: all 1s;
    z-index: 0;
}

.skillCard .content {
    color: rgba(var(--common-color-2), 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    font-size: 1.1rem;
    gap: 10px;
    font-weight: 500;
}

.skillCard .content .percentage {
    font-size: 0.5rem;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 35px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--common-color), 75%);
    color: rgba(var(--primary-bg-1), 100%);
    border-radius: 0% 0% 0% 18%;
    box-shadow: rgba(var(--common-color-2), 100%);  
}

.skillCard .content p {
    margin: 0px;
}

.skillCard .content img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    object-position: center;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(var(--primary-bg-2), 100%));
    filter: drop-shadow(5px 5px 5px rgba(var(--primary-bg-2), 100%));
}

.skillCard .content i {
    font-size: 2.5rem;
}

.skillCard .water {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    background: rgba(var(--primary-font-color), 100%);
    transition: all 0.3s;
}

.skillCard .water_wave {
    width: 200%;
    position: absolute;
    bottom: 100%;
}

.skillCard .water_wave_back {
    right: 0;
    fill: rgba(var(--primary-font-color), 63%);
    -webkit-animation: wave-back 2s infinite linear;
    animation: wave-back 2s infinite linear;
}

.skillCard .water_wave_front {
    left: 0;
    fill: rgba(var(--primary-font-color), 100%);
    margin-bottom: -1px;
    -webkit-animation: wave-front 1.5s infinite linear;
    animation: wave-front 1.5s infinite linear;
}

@-webkit-keyframes wave-front {
    100% {
        transform: translate(-50%, 0);
    }
}

@keyframes wave-front {
    100% {
        transform: translate(-50%, 0);
    }
}

@-webkit-keyframes wave-back {
    100% {
        transform: translate(50%, 0);
    }
}

@keyframes wave-back {
    100% {
        transform: translate(50%, 0);
    }
}

/* Skill Section Style End'sHere */


/* (about-me) about section style start' here */

.about-me{
    /* display: none; */
    background-color: rgba(var(--primary-bg-2), 100%);
}

.about-me-heading {
    color: rgba(var(--common-color), 100%);
    padding: 121px 0px 0px 0px;
    text-align: center;
}

.about-me-text h1 {
    font-size: 3rem;
    padding-bottom: 8px;
}

.about-me-text p {
    max-width: 60%;
    padding-bottom: 8px;
    margin: auto;
}

.about-me-tags{
    display: flex;
    gap: 21px 10px;
    justify-content: center;
    padding: 40px 0px 64px 0px;
    flex-wrap: wrap;
}

.about-me-tags p{
    /* background-color: rgba(var(--primary-font-color), 100%); */
    background: linear-gradient(33deg, rgba(var(--primary-bg-1-2), 100%), rgba(var(--primary-font-color), 70%));
    padding: 4px 22px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    color: rgba(var(--common-color-2), 100%);
}

.about-me-tags p i{
    color: rgba(var(--highlight-color), 100%);
    margin: 0px 8px;
}

.about-me-services-heading{
    color: rgba(var(--common-color), 100%);
    text-align: center;
    margin-top: 16px;
}

.about-me-services-heading i{
    margin-right: 11px;
}

.about-me-cards{
    display: flex;
    gap: 43px;
    justify-content: center;
    padding: 49px 0px 136px 0px;
    flex-wrap: wrap;
}

.about-me-cards .card{
    transform: scale(1);
    background: linear-gradient(33deg, rgba(var(--primary-bg-1-2), 100%), rgba(var(--primary-font-color), 70%));
    color: rgba(var(--common-color-2), 100%);
}

.about-me-cards .card:hover{
    transform: scale(1.02);
}

/* about section style ends' here */


/* Services Style Start From Here */
#services {
    display: none;
    background-color: rgba(var(--primary-bg-2), 100%);
    color: rgba(var(--common-color), 100%);
}

.services-heading{
    padding-top: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-heading p{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.services-heading h1{
    font-size: 3rem;
}

.services-cards{
    position: relative;
    width: 100%;
}

.services-carousel{
    display: flex;
    gap: 30px;
    margin: 80px 0px;
    padding-bottom: 105px;
    overflow: hidden;
}

.services-carousel-buttons{
    display: flex;
    gap: 20px;
}

.services-carousel-button{
    font-size: 1.1rem;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;
}

.services-cards a:nth-child(2){
    left: 0px;
}

.services-cards a:nth-child(3) {
    right: 0px;
}

/* Style For card */

.card{
    width: 315px;
    background-color: rgba(var(--primary-bg-1), 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 38px 27px;
    gap: 14px;
    border-radius: 13px;
    transition: 1s ease-out;
}

.card:hover{
    transition: 0.2s ease-in;
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 32px rgba(var(--primary-font-color), 255);
    color: rgba(var(--primary-bg-1), 100%);
}

.card-icon{
    font-size: 4rem;
}

.card-description{
    font-size: 0.9rem;
    font-weight: 400;
}

/* My Portfolio Styles Start From Here This Section will show all my project and work */

#projects{
    background-color: rgba(var(--primary-bg-1), 100%);
    padding-bottom: 80px;
}

.portfolio-heading{
    color: rgba(var(--common-color), 100%);
    padding: 105px 0px 0px 0px;
    text-align: center;
}

.portfolio-heading h1{
    font-size: 3rem;
    padding-bottom: 8px;
}

.portfolio-heading p{
    max-width: 60%;
    padding-bottom: 8px;
    margin: auto;
}

.project-buttons{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.project-btn{
    padding: 19px 58px;
    background-color: rgba(var(--primary-bg-2), 100%);
}

.project-active-btn{
    background-color: rgba(var(--primary-font-color), 255);
    color: rgba(var(--common-color-2), 100%);
}

.project-active-btn::after{
    content: "";
    width: 30px;
    height: 30px;
    background-color: rgba(var(--primary-bg-1), 100%);
    position: absolute;
    rotate: 135deg;
    top: 100%;
    left: 50%;
    transform: translateY(20%);
}

.project-active-btn:hover::after{
    background-color:rgba(var(--primary-font-color), 255);
}


.project-button-container > div:nth-child(1){
    border-radius: 8px 0px 0px 8px;
}

.project-button-container > div:nth-child(3){
    border-radius: 0px 8px 8px 0px;
}

/* Here project card styles start's */

/* stack widget style and it's pages*/
.stack-widget-container{
    padding: 45px 0px 45px 0px;
}

.stack-widget-content-page{
    display: flex;
    padding: 0px 0px 65px 0px;
    gap: 38px;
    flex-wrap: wrap;
    justify-content: center;
}

.stack-widget-content-navigators{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.stack-widget-content-navigator{
    padding: 0px 23px;
    height: 50px;
    border-radius: 8px;
    color: rgba(var(--common-color-2), 100%);
}

.stack-widget-navigator-active{
    color: rgba(var(--primary-bg-1), 100%);
}

.stack-widget-navigator-active::before{
    background-color: rgba(var(--common-color), 100%);
    transform: translate(0%, 0%);
}

/* Style of Project Start's Here */

/* Project Card Start Here*/

/* Project Card Container Sttyle Start Here */

.projectCard{
    width: 400px;
    min-height: 395px;
    background-color: rgba(var(--primary-bg-2), 100%);
    border-radius: 25px;
    display: inline-flex;
    flex-direction: column;
    padding: 25px 25px;
    color: rgba(var(--common-color), 100%);
    gap: 14px;
    justify-content: space-around;
    overflow: hidden;
    z-index: 0;
    position: relative;
    transition: all 1s;
}

.projectCardSlideEffact::before {
    content: "";
    position: absolute;
    background-color: rgba(var(--common-color), 100%);
    width: 110%;
    height: 450%;
    transform: translate(-100%, 50%);
    transition: all 0.5s;
    border-radius: 100%;
    z-index: -1;
}

.projectCardSlideEffact:hover::before {
    transition: all 0.5s;
    transform: translate(-10%, -5%);

}

.projectCardSlideEffact:hover {
    color: rgba(var(--primary-bg-1), 100%);
    transition: all 0.5s;
    box-shadow: 10px 10px 32px rgba(var(--primary-font-color), 255);
    transform: scale(1.03, 1.03);
}

.projectCardSlideEffact a{
    color: rgba(var(--common-color), 100%);
    transition: all 1s;
}

.projectCardSlideEffact:hover a{
    color: rgba(var(--primary-bg-1), 100%);
    transition: all 0.5s;
}

/* Project Card Container Sttyle End Here */

.projectCardHead{
    display: flex;
    gap: 16px;
    align-items: center;
}

.projectCardHead .projectCardLogo{
    width: 40px;
    height: 40px;
    object-fit: cover;
    /* background-color: rgba(var(--common-color), 100%); */
    /* padding: 7px; */
    border-radius: 100%;
    overflow: inherit;
}

.projectCardHead .heading{
    display: flex;
    flex-direction: column;
    gap: 3px;
}   

.projectCardHead .heading h3{
    font-size: 1.1rem;
    font-weight: 600;
}
.projectCardHead .heading p{
    font-size: 0.8rem;
    font-weight: 300;
}

.proejctCardBody{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.proejctCardBody .shortDescription{
    font-size: 0.9rem;
    font-weight: 300;
}

.proejctCardBody .projectThumbnail{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proejctCardBody .projectThumbnail .projectThumbnailImage{
    width: 100%;
    object-fit: cover;
    height: 175px;
    border-radius: 15px;
}

.proejctCardBody .projectThumbnail .projectThumbnailType{
    position: absolute;
    display: flex;
    background: rgba(var(--common-color), 100%);
    color: rgba(var(--primary-bg-2), 100%);
    left: 10px;
    bottom: 10px;
    width: 28px;
    height: 28px;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.proejctCardBody .projectThumbnail .videoPlayButton{
    position: absolute;
    font-size: 1.3rem;
    width: 50px;
    height: 50px;
    background-color: rgba(var(--primary-font-color), 70%);
    border-radius: 100%;
    color: rgba(var(--common-color-2), 100%);
}

.proejctCardBody .projectThumbnail .videoPlayButton:hover{
    color: rgba(var(--primary-bg-1), 100%);
}

.proejctCardBody .projectThumbnail .videoPlayButton i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projectCardFooter{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0px 2px;
}

.projectCardFooter .projectTech{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.projectCardFooter .projectTech i{
    font-size: 1.4rem;
}

.projectCardFooter .projectCardReadMoreButton{
    background-color: rgba(var(--primary-font-color), 100%);
    padding: 3px 13px;
    border-radius: 5px;
    cursor: pointer;
    color: rgba(var(--common-color-2), 100%);
}


/* Style of Project Card End Here */

/* Here style sheet of ReadMore Viewer Start's that will to more content about you project. */

.readMorePadding {
    padding: 0px 2rem 0px 2rem;
}

.readMoreViewer{
    opacity: 0;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    --readMoreBackground: var(--primary-bg-1);
    --readMoreBackgroundBlur: 30px;
    color: rgba(var(--common-color), 100%);
    overflow: hidden;
    transition: all 1s;

    /* Animation */
    --readMoreAnimationDuration: 0.5s;
    animation-name: read-more-inactive;
    animation-duration: var(--readMoreAnimationDuration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

.readMoreViewerActive{
    animation-name: read-more-active;
    animation-duration: var(--readMoreAnimationDuration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

.readMoreViewerActive .readMoreViewerPage{
    animation-name: read-more-page-active;
    animation-duration: var(--readMoreAnimationDuration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

.readMoreViewerActive .readMoreViewerCloseButton{
    animation-name: read-more-closeButton-active;
    animation-duration: var(--readMoreAnimationDuration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

@keyframes read-more-inactive {
    0%{
        top: 0%;
        opacity: 1;
        background-color: rgba(var(--readMoreBackground), 0%);
        backdrop-filter: blur(var(--readMoreBackgroundBlur));
        -webkit-backdrop-filter: blur(var(--readMoreBackgroundBlur));
    }
    75%{
        top: 0%;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0%);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0);
    }
    100%{
        top: 100%;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0%);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0);
    }
}

@keyframes read-more-active {
    0%{
        top: 100%;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0%);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0);
    }
    25%{
        top: 0%;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0%);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0);
    }
    100%{
        top: 0%;
        opacity: 1;
        background-color: rgba(var(--readMoreBackground), 0%);
        backdrop-filter: blur(var(--readMoreBackgroundBlur));
        -webkit-backdrop-filter: blur(var(--readMoreBackgroundBlur));
    }
}

/*header style start's from here */

.readMoreHeader{
    /* background-color: rgb(44, 48, 58); */
    display: flex;
    justify-content: space-between;
    min-height: 86px;
    align-items: center;
    padding: 0px 22px 0px 18px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 50%);
    position: relative;
    z-index: 1;
}

.readMoreHeaderText{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.readMoreHeaderText .projectIcon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.readMoreHeaderText .projectIcon img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;

    overflow: inherit;
}

.readMoreHeaderText .projectHeading{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.readMoreHeaderText .projectHeading h2{
    font-size: 1.062rem;
    line-height: 99%;
}

.readMoreHeaderText .projectHeading p{
    font-size: 0.938rem;
    font-weight: 400;
}

.readMoreHeaderButtons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.readMoreHeaderButtons .readMoreHeard-btn{
    padding: 21px;
    height: 36px;
    border-radius: 4px;
    background-color: rgba(var(--readMoreViewer-bg-3), 100%);
    font-size: 0.8rem;
}

.readMoreHeaderButtons .readMoreHeard-btn:hover{
    box-shadow: none;
}

/*header style end's here */

/* use technology style sheet start here  */

.usedTechnology{
    background-color: rgba(var(--readMoreViewer-bg-2), 100%);
    padding: 0px 10px;
    position: relative;
}

.usedTechnologyContainer{
    display: flex;
    height: 50px;
    gap: 5px;
    align-items: center;   
}

.usedTechnology .usedTechnologyContainer div{
    background-color: rgba(var(--readMoreViewer-bg-3), 100%);
    text-align: center;
    padding: 7px 16px;
    font-size: 0.813rem;
    border-radius: 3px;
    transition: 0.5s all;
}

.usedTechnology .usedTechnologyContainer div:hover{
    /* background-color: rgba(var(--readMoreViewer-bg-3), 90%); */
    background-color: rgba(var(--primary-font-color), 90%);
    color: rgba(var(--common-color-2), 100%);
}

/* use technology style sheet end here  */

.readMoreViewerCloseButtonContainer {
    position: fixed;
    right: 2%;
    top: 2.5%;
    z-index: 2;
}

.readMoreViewerCloseButton {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 100%;
    background-color: rgba(var(--primary-font-color), 70%);

    /* Here animation */
    animation-name: read-more-closeButton-inactive;
    animation-duration: var(--readMoreAnimationDuration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

/* animation keyframe for close button start's here */

@keyframes read-more-closeButton-inactive {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    75% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

@keyframes read-more-closeButton-active {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* animation keyframe for close button end's here */

.readMoreScrollContainer{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.readMoreScrollContainer::-webkit-scrollbar {
    display: none;
}

.readMoreViewerPage{
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(var(--readMoreViewer-bg-1), 100%);
    box-shadow: 0 0px 37px rgba(var(--readMoreViewer-bg-shadow), 100%);

    /* Here animation */
    animation-name: read-more-page-inactive;
    animation-duration: var(--readMoreAnimationDuration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

/* Here defining the animation for read more viewer page */

@keyframes read-more-page-inactive {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    75% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

@keyframes read-more-page-active {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Here defining the animation for read more viewer page end here*/

.readMoreViewerCloseButton:hover::before{
    transition: all 0.5s;
    transform: translate(0%, 0%);
}

.featureImage {
    width: 100%;
    position: relative;
}

.featureImageContainer{
    position: relative;
    height: 450px;
    border-bottom: 8px solid rgba(var(--readMoreViewer-bg-3), 100%);
}

#readMoreFeatureImageSlide{
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.3s all;
}

#readMoreFeatureImageBackground{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
}


#readMoreFeatureImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: 0.3s all;
    /* backdrop-filter: blur(20px); */
    position: relative;
    /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
    /* -webkit-mask-image: linear-gradient(black 70%, transparent);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat; */
}

.readMoreContent{
    padding-top: 1.5rem;
}

.readMoreFeatureImageText{
    position: absolute;
    bottom: 26px;
}

.readMoreViewerPage .dateTime{
    display: inline-flex;
    background-color: rgba(var(--primary-font-color), 95%);
    color: rgba(var(--common-color-2), 100%);
    padding: 7px 13px;
    border-radius: 4px;
    width: initial;
    font-size: 0.7rem;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-bottom: 5px;
}

.readMoreViewerPage .dateTime div{
    background-color: rgba(var(--common-color), 100%);
    border-radius: 2px;
    margin-right: 10px;
    color: rgba(var(--primary-bg-1), 100%);
    padding: 4px 12px;
    font-size: 0.6rem;
    font-weight: 600;
}

.readMoreViewerPage .dateTime p{
    margin: 0;
    font-size: 0.7rem;
}

/* ReadMore More Viewer Content Elements styles */

.readMoreViewerPage .readMoreContent .gap{

}

.readMoreTags{
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
}

.readMoreViewerPage .important{
    /* background-color: rgb(65, 69, 83); */
    background-color: rgba(var(--readMoreViewer-bg-3), 90%);
    color: rgba(var(--readMoreViewer-link), 100%);
    font-weight: 500;
    padding: 2px 10px;
    border-radius: 3px;
    min-height: 26px;
    font-size: 0.8rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
}

.readMoreViewerPage .important a{
    color: rgba(var(--readMoreViewer-link), 100%);
}

.readMoreViewerPage .important:hover{
    background-color: rgba(var(--primary-font-color), 100%);
    color: rgba(var(--common-color-2), 100%);
}

.readMoreViewerPage .important i{
    font-size: 0.9rem;
    margin-right: 4px;
}

.readMoreViewerPage .copy-link{
    cursor: copy;
}

.readMoreViewerPage .tag{
    /* background-color: rgb(65, 69, 83); */
    background-color: rgba(var(--readMoreViewer-bg-3), 100%);
    font-weight: 300;
    padding: 2px 10px;
    border-radius: 15px;
    color: rgba(var(--readMoreViewer-tag), 100%);
}

.readMoreViewerPage .margin-top{
    margin-top: 13px;
}

.readMoreViewerPage p{
    font-size: 0.938rem;
}

.readMoreViewerPage .readMoreContent h2{
    /* margin-top: 30px; */
    font-weight: 600;
}

.readMoreViewerPage .readMoreContent h3{
    /* margin-top: 30px; */
    font-weight: 600;
}

.readMoreViewerPage .readMoreContent h4{
    /* margin-top: 30px; */
    font-weight: 600;
}

.readMoreViewerPage h1 span,
h2 span,
h3 span,
h4 span {
    color: rgba(var(--primary-font-color), 100%);
}

.readMoreContent p span{
    background-color: rgba(var(--primary-font-color), 100%);
    color: rgba(var(--common-color), 100%);
    padding: 0px 7px;
    border-radius: 2px;
}

.readMorePadding .image{
    background-color: rgba(var(--primary-font-color), 100%);
    /* margin-top: 30px; */
    border-radius: 14px;
    color: rgba(var(--common-color-2), 100%);
}

.readMorePadding .image img{
    width: 100%;
    object-fit: cover;
    /* height: 379px; */
    border-radius: 14px;
}

.readMorePadding .image p{
    padding: 9px 18px 17px 18px;
    font-size: 0.9rem;
    margin: 0;
}

.codeSnippet{
    border-radius: 13px;
    overflow: hidden;
    padding-bottom: 12px;
    background-color: rgba(var(--primary-bg-2), 100%);
    /* margin-top: 30px; */
}

.codeSnippet .text{
    background-color: rgba(var(--primary-font-color), 100%);
    padding: 13px 30px;
    margin: 0;
    color: rgba(var(--common-color-2), 100%);
}

.codeSnippetcontent{
    overflow-x: auto;
    background-color: rgba(var(--primary-bg-2), 100%);
    padding: 30px 25px 3px 25px;
}

.codeSnippetcontent::-webkit-scrollbar{
    height: 9px;
}

.codeSnippetcontent::-webkit-scrollbar-thumb {
    background-color: rgba(var(--primary-font-color), 100%);
    border-radius: 17px;
    outline: none;
}

.codeSnippetcontent::-webkit-scrollbar-button {
    display: none;
    background-color: darkgrey;
    outline: none;
}

.codeSnippetcontent::-webkit-scrollbar-track {
    background-color:rgba(var(--readMoreViewer-bg-1), 100%);
    border-radius: 17px;
    outline: none;
    margin: 14px 14px;
}

.codeSnippet pre{
    
}

.readMoreVideo{
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.readMoreVideoShareButton{
    position: absolute;
    right: 17px;
    top: 17px;
    color: rgba(var(--common-color-2), 100%);
    background-color: rgba(var(--primary-font-color), 100%);
    border-radius: 100%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    cursor: pointer;
}

.readMoreFooter{
    background-color: rgba(var(--primary-font-color), 100%);
    padding: 15px 48px;
    margin-top: 30px;
    text-align: center;
    color: rgba(var(--common-color-2), 100%);
}

/* Style  of image Viwer Start From here */

.imageViewer {
    display: none;
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(var(--read-more-viewer-bg), 50%);
    color: rgba(var(--common-color), 100%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
    transition: all 1s;
    /* opacity: 0; */
}

.imageViewerCloseButtonConatiner{
    position: absolute;
    right: 2%;
    top: 2.5%;
    z-index: 2;
}

.imageViewerCloseButton{
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 100%;
    background-color: rgba(var(--primary-font-color), 70%);
}

.imageViewer .imageContainer{
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    position: relative; */
}

.imageViewer .imageContainer .slide{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s;
}

.imageViewer .imageContainer .slide .text{
    position: absolute;
    background-color: rgba(var(--primary-font-color), 30%);
    bottom: 5%;
    max-width: 80%;
    padding: 10px 37px;
    border-radius: 5px;
    /* backdrop-filter: blur(25px); */
    border: 1px solid rgba(var(--common-color), 100%);
    text-align: center;
}

.imageViewer .imageContainer .slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imageViewerLeftRightButtons{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    /* gap: 30%; */
    z-index: 1;
}

.leftButtonContainer{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: start;
}

.leftButtonContainer:hover .leftButton{
    transition: all 0.5s;
    opacity: 1;
}

.rightButtonConatiner{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: end;
}

.rightButtonConatiner:hover .rightButton{
    transition: all 0.5s;
    opacity: 1;
}

.leftButton, .rightButton{
    opacity: 0;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: rgba(var(--primary-font-color), 30%);
}

.leftButton{
    margin-left: 5%;
}

.rightButton{
    margin-right: 5%;
}

/* Style  of image Viwer End's here */

/* VideoViewer Style Sheet Start From here */

.videoViewer {
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(var(--read-more-viewer-bg), 50%);
    color: rgba(var(--common-color), 100%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
    transition: all 1s;
    display: none;
    justify-content: center;
    align-items: center;
}

.videoViewer .video{
    width: 1280px;
    height: 720px;
    border-radius: 8px;
    overflow: hidden;
    /* border: 2px solid rgba(var(--common-color), 100%);
    background-color: rgba(var(--common-color), 100%); */
}

/* Here experiences style start's */

.experiences{
    background-color: rgba(var(--primary-bg-1), 100%);
    padding-bottom: 20px;
}

.experiences-heading {
    color: rgba(var(--common-color), 100%);
    padding: 123px 0px 0px 0px;
    text-align: center;
}

.experiences-heading h1 {
    font-size: 3rem;
    padding-bottom: 8px;
}

.experiences-heading p {
    max-width: 60%;
    padding-bottom: 8px;
    margin: auto;
}

.timeline{
    padding: 98px 0px 80px 0px;
    /* padding: 80px 0px 120px 0px; */
}

.timeline .timelineCards{
    height: 100%;
    overflow: hidden;
    margin: auto;
}

/* time card style start here */

.timelineCard{
    width: 300px;
    color: rgba(var(--common-color), 100%);
    position: relative;
    min-width: 300px;
    transition: all 0.5s;
}

.timelineNow{
    transition: all 0.5s;
    width: 130px;
    background-color: rgba(var(--primary-font-color), 100%);
    height: 38px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(var(--common-color-2), 100%);
    clip-path: polygon(0% 46%, 25% 45%, 40% 0%, 100% 0%, 100% 100%, 40% 100%, 25% 54%, 0% 54%);
    /* clip-path: polygon(25% 54%, 40% 0%, 100% 0%, 100% 100%, 40% 100%, 25% 46%, 0% 46%, 0% 54%); */
}

.timelineNow p{
    padding: 1px 1px 1px 30px;
}

.timelineCard:hover{
    transform: scale(1.1, 1.1);
}

.timelineCard .workYear{
    clip-path: polygon(0% 0%, 67% 0%, 79% 47%, 100% 47%, 100% 53%, 79% 53%, 67% 100%, 0% 100%);
    height: 50px;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(var(--primary-font-color), 100%);
    padding-left: 86px;
    color: rgba(var(--common-color-2), 100%);
}

.timelineCard .timelineContent{
    position: absolute;
    padding: 0px 0px 0px 33px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.timelineCard .timelineContentTop{
    top: -35px;
    transform: translateY(-100%);
}

.timelineCard .timelineContentbottom{
    bottom: -35px;
    transform: translateY(100%);
}

.timelineCard .timelineContent .timelineLeftLine{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}   

.timelineCard .timelineContent .timelineLeftLine div{
    width: 2px;
    background-color: rgba(var(--logo-font-color), 100%);
    height: 100%;
}

.timelineCard .timelineContent .timelineLeftLine span{
    background: rgba(var(--logo-font-color), 100%);;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
}

.timelineCard .timelineContent .company{
    display: flex;
    align-items: center;
    gap: 9px;
}

.timelineCard .timelineContent .company .companyLogo img{
    height: 40px;
    object-fit: contain;
}

.timelineCard .timelineContent .company .companyName{
    font-size: 1.5rem;
    font-weight: 600;
}

.timelineCard .timelineContent .workDescription{
    font-size: 0.9rem;
}

.timelineContainerButtons {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 107px;
}

.timelineRightButton, .timelineLeftButton {
    width: 30px;
    height: 30px;
    font-size: 1rem;
    border-radius: 100%;
    color: rgba(var(--common-color-2), 100%);
}

/* Here experiences style End's */

/* A message to user style start's from here */

.message{
    background-color: rgba(var(--primary-bg-2), 100%);
}

.message .message-container{
    padding-top: 166px;
    padding-bottom: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.message .message-content{
    color: rgba(var(--primary-font-color), 100%);
    font-size: 3.2rem;
    line-height: 176%;
    background: -webkit-linear-gradient(105deg, rgba(var(--primary-font-color), 100%) 32%, rgba(var(--common-color), 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.message .message-content img{
    width: 132px;
    object-fit: contain;
}

.message .message-discription{
    color: rgba(var(--common-color), 100%);
    margin-top: 14px;
    font-size: 1.2rem;
    font-weight: 200;
}

.message .message-discription .playaudio{
    color: orange;
    font-weight: 500;
    cursor: pointer;
    padding: 0px 10px;
}   

.message .message-discription div{
    display: inline-block;
}

.messageToUser-message-button{
    height: 50px;
    width: 200px;
    border-radius: 60px;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 25px;
    color: rgba(var(--common-color-2), 100%);
}

/* A message to user style end's from here */

/* footer style start from here */

.fireEffect {
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
    z-index: 1;
    --footer-background: rgba(var(--primary-font-color), 100%);
}

.footer{
    background-color: rgba(var(--primary-font-color), 100%);
}

.footer-content{
    color: rgba(var(--common-color-2), 100%);
}

.footer-content hr{
    border: none;
    height: 1px;
    background-color: rgba(var(--common-color-2), 100%);
}

.footer-content .portfoliolinks{
    display: flex;
    font-size: 0.9rem;
    text-align: left;
    font-weight: 400;
    padding: 74px 0px 48px 0px;
    gap: 43px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content .portfoliolinks .logo, .contact, .quick-links, .other-links{
    max-width: 352px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content .portfoliolinks .quick-links{
    gap: 15px;
}
.footer-content .portfoliolinks .quick-links a{
    color: rgba(var(--common-color-2), 100%);
}

.footer-content .portfoliolinks .other-links{
    display: flex;
    align-items: end;
}

.footer-content .portfoliolinks .goToTop{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: rgba(var(--primary-bg-1), 100%);
}

.footer-content .portfoliolinks .contact p{
    display: flex;
    gap: 15px;
    align-items: center;
}

.footer-content .portfoliolinks .contact p i{
    font-size: 1.1rem;
}

.footer-content .portfoliolinks .logo{
    color: rgba(var(--common-color), 100%);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.footer-content .portfoliolinks .logo .img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    filter: drop-shadow(0px 0px 9px rgba(var(--primary-font-color), 255));
    color: rgba(var(--common-color-2), 100%);
}

.footer-content .portfoliolinks .logo img{
    display: initial;
}

.footer-content .portfoliolinks .logo p{
    font-weight: 400;
    font-size: 0.9rem;
    color: rgba(var(--common-color-2), 100%);
}

.footer-content .social-links{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px 25px 0px;
    align-items: center;
    font-size: 0.8rem;
    flex-wrap: wrap;
}

.footer-content .social-links .links{
    display: flex;
    gap: 19px;
    font-size: 1.3rem;  
}

.footer-content .social-links .links a{
    color: rgba(var(--common-color-2), 100%);
}


/* footer style end's here */